* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    padding: 40px;
    display: flex;
    color: #ccc;
    font-family: "Helvetica", "Arial", "sans-serif";
}

.legend {
    /* margin-bottom: 40px; */
    padding-left: 40px;
}

.legend__header-text {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.legend__description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
}

.graph {
    background-color: #666;

}

.legend__error-message--Wrong {
    display: none;
    color: #ccc;
    background-color: darkred;
}

.legend__input {
    display: block;
}

.error_active {
    display: block;
}

.label-color-1 {
    color: darkred;
    background-color: #666;
}

.label-color-2 {
    color: blue;
    background-color: #666;
}

.inputs-area__point:nth-child(1) {
    margin-bottom: 20px;
}

.input_element {
    margin-bottom: 10px;
}
 